{% extends 'base.html' %}
{% load static %}

{% block title %} Bag {% endblock %}

{% block content %}

<header class="masthead masthead-banner">
    <div class="container">
        <div class="masthead-heading text-uppercase">Your Treatment Bag</div>
    </div>
</header>


<div class="container mt-5">
    {% if bag_items %}


    <div class="table">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Treatment</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Price</th>
                    <th scope="col" class="text-end">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in bag_items %}
                <tr>
                    <td>{{ item.treatment_title }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.start_time }}</td>
                    <td>{{ item.duration }} mins</td>
                    <td class="text-end">£{{ item.price|floatformat:2 }}</td>
                    <td class="text-end">
                        {% if item.id %}
                        <a href="{% url 'remove_from_bag' item_id=item.id %}" class="btn btn-danger btn-sm" onclick="confirmRemove('{{ item.id }}')">Remove</a>
                        <a href="{% url 'edit_booking' item.id %}" class="btn btn-warning btn-sm">Edit</a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center py-4">Your cart is empty</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-end fw-bold">Total:</td>
                    <td class="text-end fw-bold">£{{ total_price|floatformat:2 }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="mt-5 d-flex justify-content-center align-items-center mb-5 gap-3">
        <a href="{% url 'book_now' %}" class="btn btn-primary">Add More Treatments</a>
        <a href="{% url 'checkout:checkout' %}" class="btn btn-secondary">Go To Checkout</a>
    </div>

    {% else %}
    <div class="d-flex justify-content-center align-items-center flex-column p-5">
        <h2 class="">Your Bag is Empty</h2>
        <a href="{% url 'treatments' %}">Go Back to Treatments</a>
    </div>
    {% endif %}
</div>


{% endblock %}

{% block postloadjs %}
<script>
    function confirmRemove(itemId) {
        const userConfirmed = confirm("Are you sure you want to remove this item from your bag?");
        
        if (userConfirmed) {
            window.location.href = "/bag/remove/" + itemId + "/";
        }
    }
</script>
{% endblock %}