<div class="order-summary">
    <table class="table">
        <thead>
            <tr>
                <th>Treatment</th>
                <th>Time</th>
                <th class="text-right">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in bag_items %}
            <tr>
                <td>{{ item.treatment_title }}</td>
                <td>{{ item.duration }} mins</td>
                <td class="text-right">£{{ item.price|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="font-weight-bold">
                <th>Total</th>
                <td class="text-right" colspan="2">£{{ total_price|floatformat:2 }}</td>
            </tr>
        </tfoot>
    </table>
</div>
