{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}



{% block title %}Login{% endblock %}

{% block extra_css %}
<style>
    nav{
        background-color: #212529 !important;
    }
</style>
{% endblock %}


{% block content %}
    <div class="container w-100" style="margin-top: 150px; margin-bottom:50px;">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <h1>{% trans "Sign In" %}</h1>
                {% if not SOCIALACCOUNT_ONLY %}
                    {% setvar link %}
                        <a href="{{ signup_url }}">
                    {% endsetvar %}
                    {% setvar end_link %}
                        </a>
                    {% endsetvar %}
                    <p>
                        {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
                    </p>
                    {% url 'account_login' as login_url %}
                    <form method="post" action="{{ login_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ redirect_field }}
                        
                        <button type="submit" class="btn btn-primary w-100 mt-4">
                            {% trans "Sign In" %}
                        </button>
                    </form>
                {% endif %}
                
                {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                    <hr>
                    <div class="button-group">
                        {% if PASSKEY_LOGIN_ENABLED %}
                            <button class="btn btn-outline-primary w-100" id="passkey_login">
                                {% trans "Sign in with a passkey" %}
                            </button>
                        {% endif %}
                        {% if LOGIN_BY_CODE_ENABLED %}
                            <button class="btn btn-outline-secondary w-100" href="{{ request_login_code_url }}">
                                {% trans "Send me a sign-in code" %}
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
                
                {% if SOCIALACCOUNT_ENABLED %}
                    {% include "socialaccount/snippets/login.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}

