{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block title %}Password Reset{% endblock %}

{% block extra_css %}
<style>
    /* Custom Styles for Password Reset Done Page */
    nav {
        background-color: #212529 !important; /* Ensure the background color is dark for the navbar */
    }

</style>
{% endblock extra_css %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="margin-top: 150px; margin-bottom:50px;">
        <div class="row w-100">
            <div class="col-12 col-md-6 mx-auto"> <!-- Center content horizontally -->
                <h1 class="text-center">{% trans "Password Reset" %}</h1>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="text-center">{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>

                <div class="text-center mt-4">
                    <a href="{% url 'account_login' %}" class="btn btn-primary w-100">
                        {% trans "Return to Login" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
