<!-- dashboard/templates/dashboard/dashboard.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard - {{ user.username }} {% endblock %}

{% block content %}

<header class="masthead masthead-banner">
  <div class="container">
    <div class="masthead-heading text-uppercase">Welcome, {{ user.username }}</div>
  </div>
</header>

<div class="container mt-4">

  <!-- Display Future Bookings -->
  <h2 class="mt-4">Upcoming Bookings</h2>
  {% if future_bookings %}
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Treatment</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in future_bookings %}
      <tr>
        <td>{{ booking.treatment.title }}</td>
        <td>{{ booking.date }}</td>
        <td>
          {% with booking.start_time as start_time %}
          {% if start_time.minute == 0 %}
          {{ start_time|time:"g:00 A" }} <!-- Only show hour and ":00" if minute is 0 -->
          {% else %}
          {{ start_time|time:"g:i A" }} <!-- Show full time if there's a minute value -->
          {% endif %}
          {% endwith %}
        </td>
        <td>{{ booking.duration }} mins</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No upcoming bookings.</p>
  {% endif %}

  <!-- Display Past Bookings -->
  <h2 class="mt-4">Past Bookings</h2>
  {% if past_bookings %}
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Treatment</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in past_bookings %}
      <tr>
        <td>{{ booking.treatment.title }}</td>
        <td>{{ booking.date }}</td>
        <td>
          {% with booking.start_time as start_time %}
          {% if start_time.minute == 0 %}
          {{ start_time|time:"g:00 A" }} <!-- Only show hour and ":00" if minute is 0 -->
          {% else %}
          {{ start_time|time:"g:i A" }} <!-- Show full time if there's a minute value -->
          {% endif %}
          {% endwith %}
        </td>
        <td>{{ booking.duration }} mins</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No past bookings.</p>
  {% endif %}

</div>

{% endblock %}